@media (min-width: 380px) and (max-width: 820px) {
  .TypeCategory_item {
    width: 100% !important;
    font-size: 16px !important;
  }
  .TypeCafeCategories_item {
    width: 100% !important;
    font-size: 16px !important;
  }
  .Procedures_list {
    align-items: center !important;
    justify-content: center !important;
    .Procedure_item {
      width: 330px !important;
      height: 180px !important;
    }
  }
  .Main_Second_Header_navigation_item {
    margin-right: 10px !important;
  }
  .Main_Second_Header_navigation_item {
    a {
      font-size: 14px !important;
    }
  }
  .item_description {
    height: 140px !important;
    span {
      font-size: 14px !important;
    }
  }
  .BlogNewsCategories_item_list {
    flex-direction: column !important;
    align-items: center !important;
    .item_description {
      flex-direction: row !important;
      width: 100% !important;
      height: auto !important;
    }
  }
  .BlogNewsCategories_item_list {
    .item_image {
      width: 90% !important;
      height: auto !important;
    }
  }
  .Record_main_list {
    min-height: 100vh !important;
  }
  .Admin_navigations {
    width: 25% !important;
    .Admin_navigations_header {
      font-size: 16px !important;
    }
  }
  .Admin_content {
    width: 70% !important;
  }
  .view_therapist {
    width: 250px !important;
  }
  .Admin_block_content_list {
    width: 90% !important;
  }
  .schedule_list {
    min-height: 300px !important;
    min-width: 300px !important;
  }
  .CafeProduct_item {
    width: 100% !important;
  }
  .TypeCafeProduct_item {
    width: 100% !important;
  }
}

@media (min-width: 821px) and (max-width: 1120px) {
  .CafeProduct_item {
    width: 100% !important;
  }
  .TypeCafeProduct_item {
    width: 100% !important;
  }
  .Main_Second_Header_navigation_item {
    margin-right: 10px !important;
  }
  .Main_Second_Header_navigation_item {
    a {
      font-size: 14px !important;
    }
  }
  .TypeCategory_item_list {
    .item_description {
      height: 250px !important;
    }
  }
  .BlogNewsCategories_item_list {
    flex-direction: column !important;
    align-items: center !important;
    .item_description {
      flex-direction: row !important;
      width: 100% !important;
    }
  }
  .Admin_navigations_item {
    span {
      font-size: 14px !important;
      text-wrap: wrap !important;
    }
  }
  .CafeProduct_item {
    width: 100% !important;
  }
  .TypeCafeProduct_item {
    width: 100% !important;
  }
  .Procedure_item {
    width: 100% !important;
  }
  .TypeCategory_item {
    width: 100% !important;
  }
  .Massage_Therapist_content_item {
    width: 80% !important;
  }
  #view_therapist {
    width: 250px !important;
  }
}
