.Categories_main_list {
  display: flex;
  margin: 100px 0 auto;
  width: 100%;
  .prev {
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    margin-right: 15px;
  }
  .next {
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    margin-left: 15px;
  }
  .Categories_list {
    display: flex;
    flex-direction: row;
    max-width: 1250px;
    margin: 0 auto;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    .Categories_Title {
      margin: 0 auto;
      .Categories_Title_list {
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            font-family: "Forum", sans-serif;
            color: var(--black-color);
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: 58px;
          }
        }
      }
    }
    .Categories_Galery {
      .Categories_Galery_list {
        display: flex;
        margin: 0 auto;
        gap: 10px;
        a {
          text-decoration: none;
          color: var(--white-color);
          .Categories_Galery_items {
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            position: relative;
            padding: 5px;
            box-sizing: border-box;
            margin: 0 auto;
            font-size: var(--header-font-size);
            font-weight: var(--header-font-weight);
            text-transform: var(--header-text-transform);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              transform: scale(1.02);
            }
            .Categories_img {
              width: 458px;
              height: 306px;
              object-fit: cover;
              border-radius: 12px;
              cursor: pointer;
              transition: all 0.5s ease;
              &:hover {
                transform: scale(1.05);
              }
            }
            ul {
              display: flex;
              color: var(--white-color);
              position: absolute;
              justify-content: center;
              align-items: center;
              transition: all 0.5s ease;
              &:hover {
                animation: shake 4s infinite;
              }
              .Categories_rhombus {
                width: 70px;
                height: 140px;
                transform: rotate(90deg);
                object-fit: cover;
                filter: opacity(50%);
                cursor: pointer;
              }
              li {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                justify-content: center;
                span {
                  font-style: normal;
                  font-weight: 400;
                  line-height: 98.5%;
                  font-size: 44px;
                }
              }
            }
          }
        }
      }
    }
  }
}

