.Main_Footer {
  position: relative;
  align-items: center;
  overflow: hidden;
  width: 100%;
  .Main_Footer_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    .Main_Footer_headers {
      margin-top: 24px;
      width: 80%;
      h1 {
        color: var(--black-color);
        text-align: center;
        font-family: var(--font-family-Manrope);
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      hr {
        height: 3px;
        width: 60%;
        background-color: var(--black-color);
      }
    }
    .Main_Footer_Info {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 5px 0;
      span {
        color: var(--black-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .Main_Footer_navigation {
      width: 100%;
      padding: 15px;
      border: 3px solid var(--black-color);
      .Main_Footer_navigation_list {
        display: flex;
        justify-content: center;
        align-items: center;
        .Navigation_list_nav {
          .navigation_list_nav_list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .Main_Footer_navigation_item {
              margin-right: 80px;
              a {
                color: var(--black-color);
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                &:hover {
                  color: var(--button-hover);
                }
              }
            }
          }
        }

        .Main_Footer_navigation_contacts {
          display: flex;
          .Navigation_contacts_list {
            display: flex;
            .contacts_item {
              margin-right: 25px;
            }
          }
        }
      }
    }
  }
  .Main_Footer_info {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0 40px 0;
    .Main_Footer_info_list {
      display: block;
      width: 100%;
      .Main_info_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .Main_info_link {
          margin-top: 10px;
          color: var(--black-color);
          font-family: "Playfair Display";
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
