.Main_Header {
  position: relative;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -50px;
  .Main_Header_Substrate {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.24);
    .Main_Header_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      .Main_Header_info {
        display: flex;
        justify-content: center;
        width: 100%;
        .Main_Header_info_list {
          display: block;
          width: 100%;
          .Main_info_logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            .Main_info_link {
              margin-top: 10px;
              color: var(--black-color);
              font-family: "Playfair Display";
              font-size: 32px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
      .Main_Header_navigation {
        width: 100%;
        padding: 15px;
        border: 3px solid var(--black-color);
        margin-top: 16px;
        .Main_Header_navigation_list {
          display: flex;
          justify-content: center;
          align-items: center;
          .Navigation_list_nav {
            .navigation_list_nav_list {
              display: flex;
              flex-direction: row;
              justify-content: center;
              .Main_Header_navigation_item {
                margin-right: 80px;
                a {
                  color: var(--black-color);
                  font-family: Manrope;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  &:hover {
                    color: var(--button-hover);
                  }
                }
              }
            }
          }

          .Main_Header_navigation_contacts {
            display: flex;
            .Navigation_contacts_list {
              display: flex;
              .contacts_item {
                margin-right: 25px;
              }
            }
          }
          .language-switcher {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .language-button {
              display: flex;
              background-color: transparent;
              border: none;
              padding: 10px;
              cursor: pointer;
              font-size: 16px;
              color: var(--black-color);
              font-family: Manrope;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              &:hover {
                color: var(--button-hover);
              }
            }
            .language-menu {
              display: none;
              background-color: transparent;
              margin-left: 15px;
              .language-menu-item {
                list-style-type: none;
                cursor: pointer;
                font-size: 16px;
                color: var(--black-color);
                font-family: Manrope;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-right: 5px;
                &:hover {
                  color: var(--button-hover);
                }
              }
            }
          }
        }
      }
      .Main_Header_text {
        width: 80%;
        margin-top: 400px;
        .Main_Header_text_list {
          display: flex;
          flex-direction: column;
          .Main_Header_text_item {
            margin-bottom: 30px;
            h1 {
              color: #0b0b0a;
              font-family: "Playfair Display";
              font-size: 56px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .Header_Link_Sign_Up {
              border: 2px solid #0c0c0c;
              padding: 15px 30px;
              color: #141414;
              text-align: center;
              font-family: var(--font-family-Manrope);
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 19.5px;
              letter-spacing: 1.56px;
              text-transform: uppercase;
              background-color: #adb59f;
            }
          }
        }
      }
    }
  }
}
