.Main_Order {
  margin-top: 80px;

  .Main_Order_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    .Order_main_list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 90px;
      width: 80%;
      .Order_form_list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .Order_form_item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 50%;
          .order_form_header {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .order_form {
            margin-top: 40px;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            input {
              display: flex;
              margin-top: 10px;
              width: 100%;
              padding: 10px 11px;
              align-items: center;
              gap: 16px;
              border-radius: 5px;
              border: 1px solid #030303;
              color: #181719;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px; /* 137.5% */
              letter-spacing: 0.16px;
            }
            button {
              margin-top: 15px;
              border: 2px solid #0c0c0c;
              padding: 15px 30px;
              color: #141414;
              text-align: center;
              font-family: var(--font-family-Manrope);
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 19.5px;
              letter-spacing: 1.56px;
              text-transform: uppercase;
              background-color: transparent;
            }
          }
        }
      }
      .Review_image_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        .Review_image {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
