.Main_headers {
  h1 {
    color: var(--black-color);
    text-align: center;
    font-family: var(--font-family-Manrope);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  hr {
    height: 3px;
    width: 60%;
    background-color: #141414;
  }
}
