:root {
    --bg-header-color: rgb(14, 22, 33);
    --button-hover: rgb(255, 136, 0);
    --bg-color: #000;
    --black-color: #0C0B10;
    --white-color: #Fcfcfc;
    --font-family-forum: 'Forum', sans-serif;
    --font-family-comic: Comic Sans MS, Comic Sans, cursive;
    --font-family-Manrope: 'Manrope';
}
