.Record_main_list {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 400px;
  font-family: var(--font-family-Manrope);
  .Record_procedur_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px 0;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 10px 5px 5px rgb(192, 192, 192);
    .category_button_list {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 20px;
      .category-button {
        padding: 5px 10px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        background-color: #e0e3eb;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
      }
      .category-button.selected {
        background-color: var(--black-color);
        color: var(--white-color);
      }
    }
    .procedure_list {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-top: 20px;
      .procedure-item {
        display: none;
        width: 100%;
        margin-left: 30px;

        .procedure-item-list {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          .procedure-item-info {
            display: flex;
            flex-direction: column;
            align-items: self-start;
            width: 80%;
            margin-top: 15px;
            margin-right: 25px;
            span {
              margin-top: 5px;
              color: #000;
              font-family: var(--font-family-Manrope);
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .type_category {
              margin-top: 0;
              font-weight: 500;
            }
            .get_duration_display {
              font-size: 16px;
            }
            .price {
              font-size: 20px;
              font-weight: 500;
            }
          }
          .procedure-item-label {
            margin-top: 15px;
            display: flex;
            cursor: pointer;
            input[type="radio"] {
              appearance: none;
              width: 20px;
              height: 20px;
              border: 2px solid black;
              border-radius: 3px;
              margin-right: 10px;
              outline: none;
              cursor: pointer;
              position: relative;
            }
            .procedure-checkbox {
              appearance: none;
              width: 20px;
              height: 20px;
              border: 2px solid black;
              margin-right: 10px;
              outline: none;
              cursor: pointer;
              position: relative;
              border-radius: 3px; // если нужен квадрат, можно убрать эту строку
            }

            .procedure-checkbox::after {
              content: "";
              position: absolute;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 2px 2px 0;
              top: 1px;
              left: 5px;
              transform: rotate(45deg);
              display: none;
            }

            .procedure-checkbox:checked {
              background-color: black;
            }

            .procedure-checkbox:checked::after {
              display: block;
            }
          }
        }
      }
    }
    .submit-procedure-button {
      margin: 20px 0;
      border: 2px solid #0c0c0c;
      padding: 15px 30px;
      color: #141414;
      text-align: center;
      font-family: var(--font-family-Manrope);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.5px;
      letter-spacing: 1.56px;
      text-transform: uppercase;
      background-color: transparent;
    }
  }
  .Record_therapist_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px 0;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 10px 5px 5px rgb(192, 192, 192);
    .therapist-list {
      display: flex;
      flex-direction: column;
      width: 400px;
      align-items: center;
      margin-top: 20px;
      padding: 5px;
      .therapist-item {
        display: flex;
        width: 400px;
        margin-top: 20px;
        justify-content: space-between;
        cursor: pointer;
        .therapist-item_list {
          display: flex;
          margin-left: 15px;
          width: 100%;
          .therapist-item_image {
            margin-right: 5px;
            .Massage_Therapist_img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .therapist-item_info {
            width: 100%;
            .therapist-item_list {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .therapist-item_info_user_name {
                span {
                  color: var(--black-color);
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 24px;
                }
              }
              .therapist-position {
                .therapist-position_list {
                  display: flex;
                  justify-content: flex-start;
                  .therapist-position-item {
                    span {
                      color: var(--black-color);
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 24px;
                      margin-right: 5px;
                    }
                  }
                }
              }
              .therapist-rating {
                .rating_list {
                  display: flex;
                  align-items: center;
                  .rating {
                    margin-right: 10px;
                    .star {
                      color: gold;
                      font-size: 20px;
                      display: inline-block;
                    }
                  }
                  .average_rating {
                    span {
                      color: rgba(0, 0, 0, 0.56);
                      font-family: Manrope;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                    }
                  }
                }
              }
              .therapist-available-slots {
                .therapist-available-slots_list {
                  .slot_datetime {
                    span {
                      color: var(--black-color);
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 24px;
                    }
                    .slot_time_list {
                      display: flex;
                      justify-content: flex-start;
                      width: 100%;
                      .slot_time_item {
                        border: 1px solid black;
                        padding: 5px;
                        border-radius: 5px;
                        margin-right: 5px;
                        background-color: #e0e3eb;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .therapist-item-label {
          margin-top: 15px;
          display: flex;
          cursor: pointer;
          input[type="radio"] {
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid black;
            border-radius: 3px;
            margin-right: 10px;
            outline: none;
            cursor: pointer;
            position: relative;
          }
          .therapist-checkbox {
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid black;
            margin-right: 10px;
            outline: none;
            cursor: pointer;
            position: relative;
            border-radius: 3px; // если нужен квадрат, можно убрать эту строку
          }

          .therapist-checkbox::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            top: 1px;
            left: 5px;
            transform: rotate(45deg);
            display: none;
          }

          .therapist-checkbox:checked {
            background-color: black;
          }

          .therapist-checkbox:checked::after {
            display: block;
          }
        }
      }
    }
    .submit-therapist-button {
      margin: 20px 0;
      border: 2px solid #0c0c0c;
      padding: 15px 30px;
      color: #141414;
      text-align: center;
      font-family: var(--font-family-Manrope);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.5px;
      letter-spacing: 1.56px;
      text-transform: uppercase;
      background-color: transparent;
    }
  }
  .Record_datetime_container {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 10px 5px 5px rgb(192, 192, 192);
    div {
      .flatpickr-calendar {
        width: 398px !important;
        border-radius: 16px 16px 0 0;
      }
      .flatpickr-innerContainer {
        justify-content: center;
      }
    }
    .available-slots {
      width: 400px;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .slots-container {
        width: 80%;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .time-slot {
          margin: 5px;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          display: inline-block;
          cursor: pointer;
        }
      }
      .time-slot.selected {
        background-color: #569ff7;
        color: var(--white-color);
      }
    }
    .Record_datetime_form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      .submit-datetime-button {
        margin: 10px 0;
        border: 2px solid #0c0c0c;
        padding: 15px 30px;
        color: #141414;
        text-align: center;
        font-family: var(--font-family-Manrope);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.5px;
        letter-spacing: 1.56px;
        text-transform: uppercase;
        background-color: transparent;
      }
    }
  }
}
